/node_modules
/dist
/coverage
/logs

.env

.DS_Store
.idea
.vscode
.swc

next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
*.pem
*.history
*.sublime-project
*.sublime-workspace
*.tsbuildinfo
*.local